page-tipoclub {
    .tipoclub-content {
        background: url("../assets/img/logo_background.jpg") no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }
}

