<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>División</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="tipoclub-content">


  <ion-grid>
    <div *ngFor="let item of listaDivisiones">
      <ion-row align-items-start>
          <ion-col>
            <button ion-button class="button button-block" (tap)="irSeleccionClub(item)">{{item.nombreDivision}}</button>
          </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <!--
  <div>Anterior</div>
  <ion-grid>
    <ion-row align-items-start>
          <ion-col>
            <button ion-button class="button button-block" (tap)="irSeleccionClubA('01')">CONMEBOL</button>
          </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col>
        <button ion-button class="button button-block" (tap)="irSeleccionClubA('02')">2° CATEGORÍA</button>
      </ion-col>
    </ion-row>

    <ion-row align-items-end>
      <ion-col>
        <button ion-button class="button button-block" (tap)="irSeleccionClubA('03')">3° CATEGORÍA</button>
      </ion-col>
    </ion-row>
  </ion-grid>
   -->

  <div (press)="pressEvent($event)" style="background-color: transparent; height: 30px; margin: 0 auto; width: 20%; position: fixed; bottom: 0px;"></div>
  

</ion-content>