<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Divisiones</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <div *ngFor="let item of listaDivisiones">
      <ion-card>
        <ion-item>
  
          <h2>{{item.nombreDivision}}</h2>
          <p>{{item.habilitado == true? 'habilitado' : 'inhabilitado' }}</p>
          <p>{{item.mostrarCancha == true? 'Se mostrará el formulario de medidas del campo de juego en esta división' : 'NO se mostrará el formulario de medidas del campo de juego en esta división' }}</p>
          <button  style="font-size: 1.4rem" ion-button clear item-end color="primary" 
            (tap)="mostrarDialogo(2,item)">
            <ion-icon item-right name="create"></ion-icon>
            Detalle
          </button>
          
          <button style="font-size: 1.4rem" ion-button clear item-end color="primary" 
            (tap)="mostrarFormulariosDinamicos(item)">
            <ion-icon item-right name="md-list-box"></ion-icon>
            Formularios
          </button>
        </ion-item>
      </ion-card>
    </div>
  </ion-list>

  <ion-fab top right edge>
    <button ion-fab color="secondary" (tap)="mostrarDialogo(1)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>