page-login{
    .boton{
        border-radius: 12px;
        font-size: 2.5rem;
        padding-left: 10px;
        padding-right: 10px;
        height: 4.5rem;
        color: #ffffff;
        text-transform: capitalize;
        background-color: #e66369;
      }

      .logo {
        width: auto;
        height: 15rem;
        background: url("../assets/img/icono-login.png") no-repeat;
        background-size: 100%;
      }

      .scroll-content {
        display: flex;
        align-items: center;
        justify-content: center;
      }
}
