<ion-content id="login" padding="true" scroll="false" style="background-color: #083c6f;">
<div style="width: 50%;" align="center">
  <!-- Login form -->
  <form [formGroup]="formularioLogin" class="list-form">

    <div style="clear:both; height:6vh"></div>
    <div text-center class="animated fadeInDown">
      <div class="logo"></div>
    </div>
    <div style="clear:both; height:5vh"></div>

    <div class="list-form">

      <ion-item style="background-color: #083c6f;">
        <ion-label floating style="color: #ffffff">
          <ion-icon style="font-size: 4rem;" name="contact" item-start class="text-white"></ion-icon>
          Correo
        </ion-label>
        <ion-input type="email" formControlName="txtCorreo" style="color: #ffffff"></ion-input>
      </ion-item>

      <ion-item style="background-color: #083c6f;">
        <ion-label floating style="color: #ffffff">
          <ion-icon style="font-size: 4rem;" name="lock" item-start class="text-white"></ion-icon>
          Contraseña
        </ion-label>
        <ion-input type="password" formControlName="txtClave" style="color: #ffffff"></ion-input>
      </ion-item>
    </div>
    <div style="clear:both; height:4vh"></div>
    <div align="center">
      <button class="boton" ion-button icon-start block tappable (click)="login()">
        Iniciar
      </button>
    </div>

    <p style="font-size: 2rem;" text-center ion-text color="white" tappable (click)="forgotPass()">
      Olvidaste tu contraseña?
    </p>

  </form>
</div>
</ion-content>