fotoformulario {
    .button-inner{
        font-size: 11px;
    }

    .button-md{
        height: 2.8rem;
    }

    .button-md-primary{
        width: 75px;
    }

    .button-ios-primary{
        width: 75px;
        height: 30px;
    }
}
