<div item-end>
    <button ion-button color="primary" (tap)="gestionarFoto()">Tomar foto</button>
    <button ion-button color="primary" (tap)=verFotos()>Ver fotos</button>
    <input type="file" #fileInput style="visibility: hidden;" name="files[]" (change)="processWebImage($event)" />
</div>