<ion-header>
  <ion-navbar color="primary">
    <ion-title>
        Terminar y sincronizar datos
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="drawCancel()" style="font-size: 2.4rem">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <signature-pad [options]="signaturePadOptions"  id="signatureCanvas"></signature-pad>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <button ion-button full color="danger" (click)="drawCancel()">Cancelar</button> 
      </ion-col>
      <ion-col col-4>
        <button ion-button full color="light" (click)="drawClear()">Limpiar</button> 
      </ion-col>
      <ion-col col-4>
        <button ion-button full color="secondary" (click)="drawComplete()">Aceptar</button> 
      </ion-col>
    </ion-row>
  </ion-grid>

    
    <div *ngIf="mostrarBtnSincronizar">

        <form [formGroup]="formulario"  novalidate>

            <ion-grid>
              <ion-row>
                <!-- Componente para las fotos -->
                <ion-col col-4 col-sm-4 col-lg-4 col-xl-4 col-md-4>
                    <fotoformulario (obtenerImagenBase64)="obtenerImgBase64($event)" [listImagen]="listImagenes">
                    </fotoformulario>
                </ion-col>
                <!-- Componente para las fotos -->  

                <ion-col col-8 col-sm-8 col-lg-8 col-xl-8 col-md-8>
                    <ion-item text-wrap>
                        <ion-input placeholder="Ingrese el correo electrónico" 
                                  type="email" formControlName="email">
                        </ion-input>
                      </ion-item>
          
                      <ion-item *ngIf="formulario.get('email').errors && formulario.get('email').dirty">
                          <p color="danger" ion-text *ngIf="formulario.get('email').hasError('required')">Ingrese un correo electrónico</p>
                          <p color="danger" ion-text *ngIf="formulario.get('email').hasError('email')">Ingrese un correo electrónico valido</p>
                      </ion-item>
                </ion-col>

                <br>
                <ion-col col-12 col-sm-12 col-lg-12 col-xl-12 col-md-12>
                    <button [disabled]="!formulario.valid" ion-button block 
                            (tap)="sincronizarDatos()">
                      Sincronizar datos
                    </button>
                  </ion-col>
              </ion-row>
            </ion-grid>  
        </form>  
      </div>


</ion-content>