<ion-tabs selectedIndex="0">
  <ion-tab [root]="tipoclub" tabTitle="División" tabIcon="football"></ion-tab>
  <ion-tab [root]="buscar" tabTitle="Buscar" tabIcon="search"></ion-tab>
  <ion-tab [root]="perfil" tabTitle="Perfil" tabIcon="contact"></ion-tab>
</ion-tabs>
