
page-modal-club  {

  signup {
    background: white;
    color: #13d069;
    align-content: center;
  }

  .profile-image-wrapper {
    text-align: center;
    margin: 10px 0;

    .profile-image {
      width: 150px;
      height: 150px;
      border-radius: 50%;

      display: inline-block;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .profile-image-placeholder {
      display: inline-block;

      background-color:rgb(250, 248, 248);
      width: 150px;
      height: 150px;
      border-radius: 50%;

      font-size: 12px;

      ion-icon {
        font-size: 60px;
        margin-bottom: -10px;
        margin-top: 42px;
      }
    }
  }

}

