<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{tituloDialogo}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="cerralModal()" style="font-size: 2.0rem">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>

  <form *ngIf="formularioClub" [formGroup]="formularioClub">

    <div style="width: 100%">
      <div style="width: 50%; float: left;">
        <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="onImageChange($event,1)" />
        <div class="profile-image-wrapper" (click)="seleccionarImagenGallery(1)">
          <div class="profile-image-placeholder" *ngIf="!this.formularioClub.controls.foto.value">
            <ion-icon name="add"></ion-icon>
            <div>
              LOGO DEL CLUB
            </div>
          </div>
          <div class="profile-image" [style.backgroundImage]="getProfileImageStyle(1)" *ngIf="this.formularioClub.controls.foto.value"></div>
        </div>
      </div>

      <div style="width: 50%; display: inline-block;">
        <input type="file" #fileInputFondo style="visibility: hidden; height: 0px" name="files[]" (change)="onImageChange($event,2)" />
        <div class="profile-image-wrapper" (click)="seleccionarImagenGallery(2)">
          <div class="profile-image-placeholder" *ngIf="!this.formularioClub.controls.fotoFondo.value">
            <ion-icon name="add"></ion-icon>
            <div>
              FONDO DEL CLUB
            </div>
          </div>
          <div class="profile-image" [style.backgroundImage]="getProfileImageStyle(2)" *ngIf="this.formularioClub.controls.fotoFondo.value"></div>
        </div>
      </div>
    </div>

    <ion-list>

      <ion-item>
        <ion-input type="text" placeholder="Nombre" formControlName="txtNombre" clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Nombre de la liga</ion-label>
        <ion-select type="select" formControlName="txtLiga" okText="Ok" cancelText="Cancelar" clearInput>
          <ion-option *ngFor="let item of lstDivisiones" value="{{item.id}}">
            {{item.nombreDivision}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="Dirección Sede Administrativa" formControlName="txtdireccionSedeAdmin" clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="Dirección Estadio" formControlName="txtdireccionEstadio" clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="Dirección Campo de Deportes" formControlName="txtdireccionCampoDeportes" clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="Presidente" formControlName="txtnombrePresidente" clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="Responsable de Licencias" formControlName="txtresponsableLicencias" clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="Capacidad del Estadio" formControlName="txtcapacidadestadio" clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Club habilitado?</ion-label>
        <ion-checkbox formControlName="txtHabilitada"></ion-checkbox>
      </ion-item>

      <button *ngIf="!estoyEditando" [disabled]="!formularioClub.valid" color="primary" ion-button block (click)="guardar()">
        Guardar
      </button>

    </ion-list>

    <ion-grid *ngIf="estoyEditando">
      <ion-row>
        <ion-col col-12>
          <button [disabled]="!formularioClub.valid" ion-button block color="primary" (click)="editar()">
            Guardar
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>