<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Formulario de bloques ({{paramFormulario.nombreFormulario}})</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <div *ngFor="let item of listaFormulariosBloque">
      <ion-card>
        <ion-item>
  
          <h2>{{item.nombreBloque}}</h2>
          <h3>Orden: {{item.orden}}</h3>
          <h3>Num columnas: {{item.numerocolumnas}}</h3>
          <p>{{item.habilitado == true? 'Habilitado' : 'Inhabilitado' }}</p>
          <button  style="font-size: 1.4rem" ion-button clear item-end color="primary" 
            (tap)="mostrarDialogo(2,item)">
            <ion-icon item-right name="create"></ion-icon>
            Detalle
          </button>  
          <button style="font-size: 1.4rem" ion-button clear item-end color="primary" (tap)="irAPreguntas(item)">
            <ion-icon item-right name="chatboxes"></ion-icon>
            Preguntas
          </button>
          <button style="font-size: 1.4rem" ion-button clear item-end color="primary" (tap)="presentConfirm(item)">
            <ion-icon style="margin-right: 0.5rem;" name="close-circle"></ion-icon>
            Eliminar
          </button>              
        </ion-item>
      </ion-card>
    </div>
  </ion-list>

  <ion-fab top right edge>
    <button ion-fab color="secondary" (tap)="mostrarDialogo(1)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>