<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{tituloDialogo}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="cerralModal()" style="font-size: 2.0rem">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form *ngIf="formulario" class="list-form" [formGroup]="formulario">

    <ion-list>
      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Nombre completo
        </ion-label>
        <ion-input type="text" formControlName="txtNombreCompleto"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input [disabled]="estoyEditando" type="email" formControlName="txtCorreo"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>
          <ion-icon  name="lock" item-start class="text-primary"></ion-icon>
          Contraseña
        </ion-label>
        <ion-input [disabled]="estoyEditando" type="{{type}}"formControlName="txtClave"></ion-input>
        <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
          <ion-icon name="ios-eye-off-outline"></ion-icon>
        </button>
        <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
          <ion-icon name="ios-eye-outline"></ion-icon>
        </button>
      </ion-item>

    
      <ion-item>
        <ion-label floating>
          <ion-icon name="call" item-start class="text-primary"></ion-icon>
          Teléfono
        </ion-label>
        <ion-input type="text" formControlName="txtTelefono"></ion-input>
      </ion-item>
      

      <button *ngIf="!estoyEditando" [disabled]="!guardarFormulario" color="primary" ion-button block (click)="guardar()">
        Guardar
      </button>

    </ion-list>

 
    <ion-grid *ngIf="estoyEditando">
      <ion-row>
        <ion-col col-12>
          <button [disabled]="!guardarFormulario" ion-button block color="primary" (click)="editar()">
            Guardar
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
