<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{club?.nombreCompleto}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <br>
  <table>
    <thead>
      <th>Usuario</th>
      <th>PDF</th>
      <th>Medidas del campo de juego</th>
      <th>Fecha</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of listaSicronizacion">
        <td>{{item.usuarioMail}}</td>
        <td> 
          <a href="{{item.urlPdf}}" target="_blank"  item-right>
              {{item.urlPdf != null && item.urlPdf.length > 0 ? 'PDF':'No hay pdf' }} 
          </a>
        </td>
        <td> 
          <a href="{{item.urlImagenCampoJuego}}" target="_blank"  item-right>
            {{item.urlImagenCampoJuego != null && item.urlImagenCampoJuego.length > 0 ? 'Medidas campo juego':'No hay imagen' }} 
          </a>
        </td>
        <td>{{item.fechaMostrar}}</td>
      </tr>
    </tbody>
  </table>
</ion-content>