<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{tituloDialogo}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="cerralModal()" style="font-size: 2.0rem">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>

  <form *ngIf="formulario" [formGroup]="formulario">

    <ion-list>

      <ion-item>
        <ion-input type="text" placeholder="Nombre" formControlName="txtNombre" clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Division habilitado?</ion-label>
        <ion-checkbox formControlName="txtHabilitada"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Mostrar formulario de medidas de campo de juego?</ion-label>
        <ion-checkbox formControlName="txtMostrarCancha"></ion-checkbox>
      </ion-item>

      <button *ngIf="!estoyEditando" [disabled]="!formulario.valid" color="primary" ion-button block (click)="guardar()">
        Guardar
      </button>
    </ion-list>

    <ion-grid *ngIf="estoyEditando">
      <ion-row>
        <ion-col col-12>
          <button [disabled]="!formulario.valid" ion-button block color="primary" (click)="editar()">
            Guardar
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>