page-seleccionclub {

    ion-card {
        position: relative;
        text-align: center;
        height: 110px;
        max-height: 110px;
    }
    
    .card-subtitle {
        font-size: 0.8em;
        position: relative;
        top: 50%;
        width: 100%;
        color: white;
        line-height: 100%;
        padding-top: 4px;
    }
    
    .division-content {
        background: url('../assets/img/division_background.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
    }
}
