<ion-header>
    <ion-navbar color="primary">
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding class="division-content">


    <ion-searchbar placeholder="Búsqueda por Equipo" (ionInput)="getItems($event)">
    </ion-searchbar>
    
    <ion-grid>
        <ion-row padding>
            <ion-col col-6 col-sm-4 col-md-2 col-lg-2 col-xl-2 *ngFor="let club of listaClubesSearchBar">

                <ion-card style="background-color: transparent;">
                    <ion-card-content (click)="menuClub(club)">
                        <img [src]="club.imagenmostrar" style="height: 70px; width: auto; margin:auto;" />
                        <div class="card-subtitle">{{club.nombreCompleto}}</div>
                    </ion-card-content>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>