<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{paramDivison?.nombreDivision}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="cerralModal()" style="font-size: 2.0rem">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
    <div *ngIf="listaFormularios != null && listaFormularios.length > 0">
            <resource-tree-view [TreeData]="listaFormularios" [hasCheckbox]="true"></resource-tree-view>
    </div> 
</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <button ion-button full color="primary" (tap)="guardarFormularios()">
          Guardar
        </button>
    </ion-toolbar>
</ion-footer>
