<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        {{nombrePregunta}}
      </ion-title>

      <ion-buttons end>
        <button ion-button (tap)="cerralModal()" style="font-size: 2.4rem">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>

      <ion-buttons end hidden="hidden" >
        <button ion-button icon-only (tap)="changeGrid()">
          <ion-icon *ngIf="!grid" name="md-grid"></ion-icon>
          <ion-icon *ngIf="grid" name="md-albums"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid *ngIf="listImagen">
      <ion-row>
          <ion-col *ngFor="let item of listImagen;let i = index"  [attr.col-3]="grid ? true : null" [attr.col-6]="!grid ? true : null">
              <div *ngIf="item.esBase64">
                <img #myImage [src]="'data:image/png;base64,' +item.foto"  (tap)="mostrarImagenPantallaCompleta(myImage)" />
                <button ion-button block outline color="danger" (tap)="eliminarImagen(i)">Eliminar</button>
              </div>
              <div *ngIf="!item.esBase64">
                  <img #myImage [src]="item.foto" (tap)="mostrarImagenPantallaCompleta(myImage)" />
                  <button ion-button block outline color="danger" (tap)="eliminarImagen(i)">Eliminar</button>
              </div>
          </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>