<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{tituloDialogo}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="cerralModal()" style="font-size: 2.0rem">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>

  <form *ngIf="formulario" [formGroup]="formulario">

    <ion-list>

      <ion-item>
        <ion-label floating>Nombre de la pregunta</ion-label>
        <ion-input type="text" formControlName="txtNombre" clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Subtitulo de la pregunta</ion-label>
        <ion-input type="text" formControlName="txtSubtitulo" clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Orden</ion-label>
        <ion-input type="number" min="0" formControlName="numOrden" clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Tipo de pregunta</ion-label>
        <ion-select (ionChange)="validarTipoPregunta($event)" [disabled]="estoyEditando" type="select" okText="Ok" cancelText="Cancelar"
          clearInput formControlName="selTipoPregunta">
          <ion-option *ngFor="let item of listTipoPregunta" value="{{item.id}}">
            {{item.name}}
          </ion-option>
        </ion-select>
      </ion-item>

      <div *ngIf="preguntaOpcion">
        <ion-grid>
          <ion-row>
            <ion-col col-5>
              <ion-input placeholder="Texto de la respuesta" type="text" formControlName="textoRespuesta" clearInput></ion-input>
            </ion-col>
            <ion-col col-4>
              <input [value]="color" style="margin-top: 11px;" [style.background]="color" [(colorPicker)]="color" [cpPositionOffset]="'50%'"
                [cpPositionRelativeToArrow]="true" [cpPosition]="'top'" />
            </ion-col>
            <ion-col col-3>
              <button *ngIf="!modificandoRespuesta" style="font-size: 10px; margin-top: 10px;" ion-button icon-only (tap)="agregarRespuesta()">
                <ion-icon name="add"></ion-icon>
              </button>
              <button *ngIf="modificandoRespuesta" style="font-size: 10px; margin-top: 10px;" ion-button icon-only (tap)="modificarRespuesta()">
                <ion-icon name="create"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div style="width: 90%; margin-left: 10px;">
          <table>
            <tr>
              <td class="td-title">Texto de la respuesta</td>
              <td class="td-title">Color</td>
              <td class="td-title">Modificar</td>
              <td class="td-title">Eliminar</td>
            </tr>
            <tr *ngFor="let respuesta of listaOpciones">
              <td class="td-body" style="width: 40%; max-width: 25rem"> {{respuesta.nombreOpcion}} </td>
              <td class="td-body">
                <input style="margin-top: 11px; pointer-events: none;" [style.background]="respuesta.color" [(colorPicker)]="color" [disabled]="true"
                /> </td>
              <td class="td-body">
                <button style="font-size: 10px; margin-top: 10px;" ion-button icon-only (tap)="esconderBotonAgregarRespuesta(respuesta)">
                  <ion-icon name="create"></ion-icon>
                </button>
              </td>
              <td class="td-body">
                <button style="font-size: 10px; margin-top: 10px;" ion-button icon-only (tap)="eliminarRespuesta(respuesta)">
                  <ion-icon name="close-circle"></ion-icon>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>


      <ion-item>
        <ion-label>Mostrar nombre?</ion-label>
        <ion-checkbox formControlName="bolMostrarNombre"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Pregunta habilitada?</ion-label>
        <ion-checkbox formControlName="bolHabilitada"></ion-checkbox>
      </ion-item>

      <button *ngIf="!estoyEditando" [disabled]="!formulario.valid" color="primary" ion-button block (click)="guardar()">
        Guardar
      </button>
    </ion-list>

    <ion-grid *ngIf="estoyEditando">
      <ion-row>
        <ion-col col-12>
          <button [disabled]="!formulario.valid" ion-button block color="primary" (click)="editar()">
            Guardar
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>