page-modal-formulariopregunta {
  .button-md {
    height: 2.3rem;
  }

  .td-title {
    width: 30%;
    text-align: center;
    border: 1px solid;
    background: #eeeeee;
  }

  .td-body {
    width: 30%;
    text-align: center;
    border: 1px solid;
    background: #baEE;
  }

}
