<ion-menu side="left" id="authenticated" [content]="content">
  <ion-header>
    <ion-toolbar class="user-profile">

      <ion-grid>
        <ion-row>
          <ion-col col-4>
              <div class="user-avatar">
                <img  src="assets/img/icono-login-menu.png">
              </div>
          </ion-col>
          <ion-col padding-top col-8>
            <h6 ion-text class="no-margin bold text-white">
               {{_almacenamientoLocalProvider?.correoUsuario}}
            </h6>
            <span ion-text color="light">{{_almacenamientoLocalProvider?.correoUsuario}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-toolbar>
  </ion-header>

  <ion-content color="primary">

    <!-- administador -->
    <ion-list *ngIf="_almacenamientoLocalProvider.perfilUsuario==='01'">
        <button ion-item menuClose class="text-1x" *ngFor="let menuItem of paginasAdmin" (click)="openPage(menuItem)">
          <ion-icon item-left [name]="menuItem.icon" color="primary"></ion-icon>
          <span ion-text color="primary">{{menuItem.title}}</span>
        </button>
      </ion-list>


    <!-- usuario inspector -->
    <ion-list *ngIf="_almacenamientoLocalProvider.perfilUsuario==='02'">
      <button ion-item menuClose class="text-1x" *ngFor="let menuItem of paginasUsuario" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon" color="primary"></ion-icon>
        <span text-wrap ion-text color="primary">{{menuItem.title}}</span>
      </button>
    </ion-list>


    <ion-footer>
      <button ion-item menuClose class="text-1x" (click)="logout()">
          <ion-icon item-left name="log-out" color="primary"></ion-icon>
          <span ion-text color="primary">Salir</span>
      </button>
    </ion-footer>

  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
