<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{tituloDialogo}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="cerralModal()" style="font-size: 2.0rem">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>

  <form *ngIf="formulario" [formGroup]="formulario">

    <ion-list>

      <ion-item>
        <ion-label floating>Nombre del formulario</ion-label>
        <ion-input type="text" formControlName="txtNombre" clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Descripción</ion-label>
        <ion-input type="text" formControlName="txtDescripcion" clearInput></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>Formulario habilitado?</ion-label>
        <ion-checkbox formControlName="bolHabilitada"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Agrupa otros formularios?</ion-label>
        <ion-checkbox (ionChange)="mostrarBotonModalFormularios($event)" formControlName="bolAgrupaFormulario"></ion-checkbox>
        <button *ngIf="agrupaOtrosFormularios" ion-button icon-only (tap)="mostrarModalFormularios()">
          <ion-icon name="book"></ion-icon>
        </button>
      </ion-item>
      <ion-item>
        <button *ngIf="agrupaOtrosFormularios" ion-button (tap)="mostrarModalFormularios()">
          Mostrar formularios
        </button>
      </ion-item>

      <div *ngIf="agrupaOtrosFormularios" style="width: 96%; margin-left: 20px; margin-top: 10px;">
        <table>
          <tr>
            <td class="td-title">Nombre del formulario</td>
            <td class="td-title">Eliminar</td>
          </tr>
          <tr *ngFor="let formulario of listFormulariosAgrupacion">
            <td class="td-body" style="width: 91%; max-width: 25rem"> {{formulario.nombreFormulario}} </td>
            <td class="td-body">
              <button style="font-size: 10px; margin-top: 10px;" ion-button icon-only (tap)="eliminarFormulario(formulario)">
                <ion-icon name="close-circle"></ion-icon>
              </button>
            </td>
          </tr>
        </table>
      </div>

      <button *ngIf="!estoyEditando" [disabled]="!formulario.valid" color="primary" ion-button block (click)="guardar()">
        Guardar
      </button>
    </ion-list>

    <ion-grid *ngIf="estoyEditando">
      <ion-row>
        <ion-col col-12>
          <button [disabled]="!formulario.valid" ion-button block color="primary" (click)="editar()">
            Guardar
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>