<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar placeholder="Busqueda por Equipo" (ionInput)="getItems($event)">
    </ion-searchbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <div *ngFor="let item of listaClubesSearchBar">
      <ion-card>
        <ion-item>
         
          <ion-thumbnail item-start>
            <img *ngIf="item.foto" [src]="item.foto">
            <img *ngIf="!item.foto" src="assets/imagenes/perfil3.jpg">
          </ion-thumbnail>
        
          <h2>{{item.nombreCompleto}}</h2>
          <p>{{item.habilitado == true? 'habilitado' : 'inhabilitado' }}</p>
          <button  style="font-size: 1.4rem" ion-button clear item-end color="primary" 
            (tap)="mostrarDialogo(2,item)">
            <ion-icon item-right name="create"></ion-icon>
            Detalle
          </button>
          <button style="font-size: 1.4rem" ion-button clear item-end color="primary" 
            (tap)="mostrarHistorial(item)">
            <ion-icon item-right name="md-filing"></ion-icon>
            Historial
          </button>
        </ion-item>
      </ion-card>
    </div>
  </ion-list>

  <ion-fab top right edge>
    <button ion-fab color="secondary" (tap)="mostrarDialogo(1)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>