<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Usuarios</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <div *ngFor="let item of listaUsuarios">
      <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img *ngIf="item.foto" [src]="item.foto">
            <img *ngIf="!item.foto" src="assets/imagenes/perfil3.jpg">
          </ion-avatar>
          <h2>{{item.nombreCompleto}}</h2>
          <p>{{item.telefono}}</p>
          <p>{{item.correo}}</p>
          <p>{{item.habilitado == true? 'habilitado' : 'inhabilitado' }}</p>
          <button style="font-size: 1.4rem" ion-button clear item-end color="primary" (click)="mostrarDialogo(2,item)">
            <ion-icon item-right name="create"></ion-icon>
            Detalle
          </button>
        </ion-item>
      </ion-card>
    </div>
  </ion-list>

  <ion-fab top right edge>
    <button ion-fab color="secondary" (click)="mostrarDialogo(1)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>