<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    
      <ion-buttons end>
        <button ion-button icon-only (tap)="mostrarBordeFormulario()">
          <ion-icon name="md-grid"></ion-icon>
          <ion-label style="padding-left:5px">{{mostrarBorde === true ? 'Retirar borde': 'Mostrar borde' }}</ion-label>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>

  <div class="divForm">

    <form [formGroup]="formularioDinamico" class="list-form" 
          *ngIf="formularioDinamicoModelo != null && formularioDinamicoModelo?.id != null"  >

  
      <!--FORMULARIO-->
      <div align="center">
          <h1>{{formularioDinamicoModelo.nombreFormulario.toUpperCase()}}</h1>
      </div>
      
      <br>

       <div *ngFor="let itemBloque of formularioDinamicoModelo.listaBloques">

        <br><br>
        <div *ngIf="itemBloque.habilitado === true" >
            <ion-row *ngIf="itemBloque.mostrarnombre === true" >
                <div class="boxed">
                    {{itemBloque.nombreBloque}}
                </div>
            </ion-row>
        </div>
        
        

        <!--PREGUNTAS -->
        <ion-grid>
          <ion-row>

              <ion-col [ngClass]="{ 'showquestion' : question.showquestion, 'hidequestion': !question.showquestion }" 
                       [ngStyle]="{'border':mostrarBorde === true ? '1px groove' : '0px solid' }"
                       *ngFor="let question of itemBloque.preguntasdinamicas" 
                      col-12  no-padding 
                      [attr.col-sm-12]="3 == itemBloque.numerocolumnas ? true : null"
                      [attr.col-sm-12]="2 == itemBloque.numerocolumnas ? true : null"
                      [attr.col-sm-12]="1 === itemBloque.numerocolumnas ? true : null"
                      
                      [attr.col-md-4]="3 === itemBloque.numerocolumnas ? true : null"
                      [attr.col-md-6]="2 === itemBloque.numerocolumnas ? true : null"    
                      [attr.col-md-12]="1 === itemBloque.numerocolumnas ? true : null">
              <div>
                 <div [ngSwitch]="question.controlType">

                  <!--UNICA RESPUESTA
                  <ion-item *ngSwitchCase="'selectonly'" >               
                        <ion-label style="padding-left:5px" color="black" floating text-wrap>
                           {{question.label}}
                        </ion-label>
                        <ion-select formControlName="{{question.key}}"
                                    okText="Ok" 
                                    cancelText="Cancelar" 
                                    multiple="false" 
                                    (ionChange)="habilitarDependenciaPreguntaSeleccionada($event,question)">
                          <ion-option *ngFor="let opcion of question.options" 
                                      value="{{opcion.key}}">
                            {{opcion.value}}
                          </ion-option>
                        </ion-select>
                    </ion-item>-->
                  
                  <!--UNICA RESPUESTA -->
                  <ion-list radio-group formControlName="{{question.key}}" *ngSwitchCase="'selectonly'" >
                      
                    <ion-label *ngIf="question.showlabel === true" 
                                style="padding-left:5px;font-size: 20px" 
                                color="ojcar" 
                                text-wrap>
                        {{question.label}} <br/>
                        <div *ngIf="question.subtitle" style="margin-top:2%"  >
                        <h5>{{question.subtitle}}</h5>
                        </div>
                    </ion-label>
                    <button color="ojcar" ion-button outline *ngFor="let opcion of question.options"
                            [ngStyle]="{'background-color':getColor(opcion)}">
                        <ion-label> {{opcion.value}}</ion-label>
                        <ion-radio [value]="opcion.key" ></ion-radio>
                   </button>
                    
                    <!-- <ion-item *ngFor="let opcion of question.options" 
                            [ngStyle]="{'background-color':getColor(opcion)}"> 
                        <ion-label> {{opcion.value}}</ion-label>
                        <ion-radio [value]="opcion.key"  [checked]="opcion.selected"></ion-radio>
                    </ion-item>-->

                  </ion-list>

                  <!-- TEXTO -->
                  <ion-item *ngSwitchCase="'textarea'" >
                    <ion-label *ngIf="question.showlabel === true" 
                               style="padding-left:5px" color="ojcar" 
                                text-wrap>
                        {{question.label}}
                        <div *ngIf="question.subtitle" style="margin-top:2%"  >
                            <h5>{{question.subtitle}}</h5>
                        </div>
                    </ion-label>
                    <ion-input formControlName="{{question.key}}" value="{{question.value}}" 
                               type="text"  [placeholder]="question.label" clearInput>
                    </ion-input>
                  </ion-item>

                  <!-- NUMERICA -->
                  <ion-item  no-lines *ngSwitchCase="'textbox'">
                    <ion-label *ngIf="question.showlabel === true" 
                                style="padding-left:5px" color="ojcar" 
                                text-wrap>
                        {{question.label}}
                        <div *ngIf="question.subtitle" style="margin-top:2%"  >
                            <h5>{{question.subtitle}}</h5>
                        </div>
                    </ion-label>
                    <ion-input formControlName="{{question.key}}" 
                               value="{{question.value}}"
                               text-right class="inputNumber"
                               pattern="[0-9]*"
                               type="number" clearInput>
                    </ion-input>
                  </ion-item>

                  <!-- LOGICA -->
                  <ion-item no-lines *ngSwitchCase="'toggle'">
                      <ion-label item-start *ngIf="question.showlabel === true" 
                                 style="padding-left:5px" color="ojcar" 
                                 text-wrap>
                        {{question.label}}
                        <div *ngIf="question.subtitle" style="margin-top:2%"  >
                            <h5>{{question.subtitle}}</h5>
                        </div>
                      </ion-label>
                      <ion-toggle item-end  formControlName="{{question.key}}" id="{{question.key}}">
                      </ion-toggle>
                      <div item-end>
                        <ion-label >{{formularioDinamico.value[question.key] == true ? 'Si' : 'No'}}</ion-label>
                      </div>
                  </ion-item>
                  
                  <!-- FECHA -->
                  <ion-item no-lines *ngSwitchCase="'date'">
                        <ion-label *ngIf="question.showlabel === true" 
                                  style="padding-left:5px" color="ojcar" 
                                   text-wrap>
                            {{question.label}}
                            <div *ngIf="question.subtitle" style="margin-top:2%"  >
                                <h5>{{question.subtitle}}</h5>
                            </div>
                        </ion-label>
                        <ion-datetime formControlName="{{question.key}}"  
                                      doneText="Aceptar" cancelText="Limpiar"
                                      (ionCancel)="eventClearDate(question)"
                                      displayFormat="DD/MMM/YYYY"
                                      placeholder="Seleccione la fecha"
                                      [pickerOptions]="customPickerOption">
                        </ion-datetime>
                  </ion-item>

                <!-- FOTO -->      
                <ion-item no-lines *ngSwitchCase="'photo'">
                    <ion-label  item-start *ngIf="question.showlabel === true"
                                style="padding-left:5px;padding-bottom:25px" color="ojcar" 
                                text-wrap>
                        {{question.label}}
                        <div *ngIf="question.subtitle" style="margin-top:2%"  >
                            <h5>{{question.subtitle}}</h5>
                        </div>
                    </ion-label>
                    
                    <fotoformulario style="padding-bottom:14px" item-end [nombrePregunta]="question.label"
                        (obtenerImagenBase64)="obtenerImgBase64($event, question)" 
                        [listImagen]="question.listImages">
                    </fotoformulario>
                    
                </ion-item>   
                
                <!--
                <ion-grid *ngSwitchCase="'photo'">
                        <ion-row>
                            <ion-col col-6 col-sm-6 col-md-6 col-lg-8 no-padding>
                                <ion-item no-lines>
                                    <ion-label *ngIf="question.showlabel === true"
                                                style="padding-left:5px" color="ojcar" 
                                                text-wrap>
                                        {{question.label}}
                                        <div *ngIf="question.subtitle" style="margin-top:2%"  >
                                            <h5>{{question.subtitle}}</h5>
                                        </div>
                                    </ion-label>
                                </ion-item>
                            </ion-col>
    
                            <ion-col col-6 col-sm-6 col-md-6 col-lg-4 no-padding>
                                <fotoformulario [nombrePregunta]="question.label"
                                                (obtenerImagenBase64)="obtenerImgBase64($event, question)" 
                                                [listImagen]="question.listImages">
                                </fotoformulario>
                            </ion-col>
                        </ion-row>
                </ion-grid> -->
              </div>                 
            </div>
           </ion-col>
          </ion-row>
        </ion-grid>
      </div>
   </form>
  </div>

 

</ion-content>



<ion-footer no-border>
  <!--<ion-toolbar>
    <button [disabled]="!formularioDinamico.valid" ion-button  full color="primary" (tap)="terminar()">
      Terminar
    </button>
  </ion-toolbar>!-->

  <ion-toolbar>
      <button ion-button full color="primary" (tap)="terminar()" [disabled]="disabledBtnGuardar">
        Guardar
      </button>
  </ion-toolbar>
</ion-footer>
