page-formulario-dinamico {
    .hidequestion {
        display: none;
     }
     .showquestion {
        display: block;
     }
    .item ion-label {
        margin-left: 0;
        font-size: 20px;
    }

    ion-list {
        ion-radio.radio.radio.radio-ios {
            button {
                border: 3px groove;
            }
        }
    }    
  
}
.toastPreline{
    white-space: pre-line;
    //text-align: center;
 }