<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Formularios</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <div *ngFor="let item of listaFormularios">
      <ion-card>
        <ion-item>

          <h2>{{item.nombreFormulario}}</h2>
          <p>{{item.habilitado == true ? 'Habilitado' : 'Inhabilitado' }}</p>
          <i>{{item.agrupaFormulario == true ? '(Este formulario agrupa otros formularios)' : '' }}</i>
          <button style="font-size: 1.4rem" ion-button clear item-end color="primary" (tap)="mostrarDialogo(2,item)">
            <ion-icon item-right name="create"></ion-icon>
            Detalle
          </button>
          <button *ngIf="!item.agrupaFormulario" style="font-size: 1.4rem" ion-button clear item-end color="primary" (tap)="irABloques(item)">
            <ion-icon item-right name="apps"></ion-icon>
            Bloques
          </button>
        </ion-item>
      </ion-card>
    </div>
  </ion-list>

  <ion-fab top right edge>
    <button ion-fab color="secondary" (tap)="mostrarDialogo(1)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>