<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{tituloDialogo}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="cerralModal()" style="font-size: 2.0rem">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>

  <form *ngIf="formulario" [formGroup]="formulario">

    <ion-list>

      <ion-item>
        <ion-label floating>Nombre del bloque</ion-label>
        <ion-input type="text" formControlName="txtNombre" clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Orden</ion-label>
        <ion-input type="number" min="0" formControlName="numOrden" clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Número de columnas</ion-label>
        <ion-input type="number" min="0" min="3" formControlName="numColumnas" clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Mostrar nombre?</ion-label>
        <ion-checkbox formControlName="bolMostrarNombre"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Bloque habilitado?</ion-label>
        <ion-checkbox formControlName="bolHabilitada"></ion-checkbox>
      </ion-item>

      <button *ngIf="!estoyEditando" [disabled]="!formulario.valid" color="primary" ion-button block (click)="guardar()">
        Guardar
      </button>
    </ion-list>

    <ion-grid *ngIf="estoyEditando">
      <ion-row>
        <ion-col col-12>
          <button [disabled]="!formulario.valid" ion-button block color="primary" (click)="editar()">
            Guardar
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>