<ion-header>

  <ion-navbar color="primary">
    <ion-title hidden>MENU CRITERIOS</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding [ngStyle]="setBackgroundStyle()">

  <div align="left" style="padding-left: 23px;" >
   <ion-grid>
      <ion-row>
        <ion-col col-3 col-sm-3 col-md-2 col-lg-1 col-xl-1>
            <img [src]="club.imagenmostrar" style="height: 70px; width: auto; margin:auto;" />
        </ion-col>
        <ion-col col-9 col-sm-9 col-md-10 col-lg-11 col-xl-11>
            <h1>{{nombreEquipo}}</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-grid>
  <ion-row>
    <ion-col col-12 col-sm-12 col-md-6 col-lg-6>
        <div align="left">
            <!-- Form Vestuario -->
            <form [formGroup]="formularioDatosClub" class="list-form">
              <ion-item text-wrap>
                <ion-label floating color="ojcar">Dirección Sede Administrativa</ion-label>
                <ion-input maxlength="300" type="text" formControlName="direccionSedeAdmin"></ion-input>
              </ion-item>

              <ion-item text-wrap>
                <ion-label floating color="ojcar">Dirección Estadio</ion-label>
                <ion-input maxlength="300" type="text" formControlName="direccionEstadio"></ion-input>
              </ion-item>

              <ion-item text-wrap>
                <ion-label floating color="ojcar">Dirección Campo de Deportes</ion-label>
                <ion-input maxlength="300" type="text" formControlName="direccionCampoDeportes"></ion-input>
              </ion-item>

              <ion-item text-wrap>
                <ion-label floating color="ojcar">Presidente</ion-label>
                <ion-input maxlength="300" type="text" formControlName="nombrePresidente"></ion-input>
              </ion-item>

              <ion-item text-wrap>
                <ion-label floating color="ojcar">Responsable de Licencias</ion-label>
                <ion-input maxlength="300" type="text" formControlName="responsableLicencias"></ion-input>
              </ion-item>

              <ion-item text-wrap>
                <ion-label floating color="ojcar">Capacidad del estadio</ion-label>
                <ion-input type="text" formControlName="capacidadestadio"></ion-input>
              </ion-item>

              <ion-item *ngIf="this._util.isApp()">
                <div style="width: 50%">
                    <button [disabled]="!formularioDatosClub.valid"
                    (tap)="guardarDatosClub()"
                    style="height: 40px"
                    ion-button color="primary" >
                    Guardar datos
                  </button>
                </div>
              </ion-item>
            </form>
          </div>
    </ion-col>

    <ion-col col-12 col-sm-12 col-md-6 col-lg-6>
        <div>
            <ion-grid *ngIf="this._util.isApp()">
              <ion-row>
                <ion-col col-6 col-sm-3 col-md-4 col-lg-3>
                    <button text-wrap  ion-button (tap)="obtenerDatosFormularisoResueltosClub()" color="primary">
                      Obtener datos formularios del club
                    </button>
                </ion-col >
                <ion-col col-6 col-sm-3 col-md-4 col-lg-3 >
                    <button text-wrap  ion-button block color="primary" (tap)="abrirCapturaFirma()">
                      Terminar y sincronizar
                    </button>
                </ion-col>
                <ion-col col-6 col-sm-3 col-md-4 col-lg-3 >
                  <button text-wrap  ion-button block color="primary" (tap)="presentConfirmDeleteForm()">
                    Borrar datos formularios del club
                  </button>
                </ion-col>

              </ion-row>
            </ion-grid>

            <ion-grid>
              <ion-row>
                <ion-col *ngFor="let item of listaFormulariosMarcados" 
                         col-6 col-sm-3 col-md-4 col-lg-3>
                  <button ion-button text-wrap  
                          color="primary"
                          (tap)="openFormDynamic(item)">
                      {{item?.nombreFormulario}}
                  </button>
                </ion-col>
                <ion-col col-6 col-sm-3 col-md-4 col-lg-3 *ngIf="division?.mostrarCancha == true" >
                    <button text-wrap  ion-button block color="primary" (tap)="openFormMedidasCampoJuego()">
                      Medidas del campo de juego
                    </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
    </ion-col>
  </ion-row>
  </ion-grid>




</ion-content>
