page-campodejuegomedidas {
    .campomedidas-content {
        background: url("../assets/img/MedidasEstadio3.png") no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        width: 160vw;
        height: 150vw;
    }

    ion-input {
        background-color:white;
        border: none; 
        border-radius: 2px;
    }

    ion-input input {
        margin: 0px !important;
        padding-right: 10px !important;
        width: 100% !important;
        height: 100% !important;
     }

    /// ......................fuera de la cancha..............................
    #fueracancha1 {
        position: absolute;
        top: 8.9vw;
        left: 15.2vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #fueracancha2 {
        position: absolute;
        top: 8.9vw;
        left: 22.2vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #fueracancha3 {
        position: absolute;
        top: 8.9vw;
        left: 29.2vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #fueracancha4 {
        position: absolute;
        top: 8.9vw;
        left: 36.0vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #fueracancha5 {
        position: absolute;
        top: 8.9vw;
        left: 42.5vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #fueracancha6 {
        position: absolute;
        top: 8.9vw;
        left: 49.1vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #fueracancha7 {
        position: absolute;
        top: 8.9vw;
        left: 56.1vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #fueracancha8 {
        position: absolute;
        top: 8.9vw;
        left: 62.3vw;
        width: 5.3vw;
        height: 3.0vw;
    }
    #fueracancha9 {
        position: absolute;
        top: 8.9vw;
        left: 68.7vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #fueracancha10 {
        position: absolute;
        top: 8.9vw;
        left: 74.7vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #fueracancha11 {
        position: absolute;
        top: 8.9vw;
        left: 80.4vw;
        width: 5.3vw;
        height: 3.0vw;
    }
    #fueracancha12 {
        position: absolute;
        top: 8.9vw;
        left: 86.1vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #fueracancha13 {
        position: absolute;
        top: 8.9vw;
        left: 92.2vw;
        width: 5.3vw;
        height: 3.0vw;
    }
    #fueracancha14 {
        position: absolute;
        top: 8.9vw;
        left: 98.5vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #fueracancha15 {
        position: absolute;
        top: 8.9vw;
        left: 105.0vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #fueracancha16 {
        position: absolute;
        top: 8.9vw;
        left: 112.0vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #fueracancha17 {
        position: absolute;
        top: 8.9vw;
        left: 118.5vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #fueracancha18 {
        position: absolute;
        top: 8.9vw;
        left: 125.5vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #fueracancha19 {
        position: absolute;
        top: 8.9vw;
        left: 132.7vw;
        width: 5.3vw;
        height: 3.0vw;
    }
    #fueracancha20 {
        position: absolute;
        top: 8.9vw;
        left: 140.8vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #fueracancha21 {
        position: absolute;
        top: 14.3vw;
        left: 77.7vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    // ......................izquierda de la cancha.............................. 

    #izquierdacancha0 {
        position: absolute;
        top: 12.9vw;
        left: 9.2vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #izquierdacancha1 {
        position: absolute;
        top: 19.9vw;
        left: 16.2vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #izquierdacancha2 {
        position: absolute;
        top: 23.7vw;
        left: 22.2vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #izquierdacancha3 {
        position: absolute;
        top: 25.3vw;
        left: 9.0vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #izquierdacancha4 {
        position: absolute;
        top: 35.5vw;
        left: 17.2vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #izquierdacancha5 {
        position: absolute;
        top: 45.5vw;
        left: 22.2vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #izquierdacancha6 {
        position: absolute;
        top: 49.6vw;
        left: 6.0vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #izquierdacancha7 {
        position: absolute;
        top: 52.5vw;
        left: 32.0vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #izquierdacancha8 {
        position: absolute;
        top: 57.7vw;
        left: 40.5vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #izquierdacancha9 {
        position: absolute;
        top: 63.4vw;
        left: 26.2vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #izquierdacancha10 {
        position: absolute;
        top: 59.4vw;
        left: 16.7vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #izquierdacancha11 {
        position: absolute;
        top: 57.4vw;
        left: 9.7vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #izquierdacancha12 {
        position: absolute;
        top: 61.0vw;
        left: 3.0vw;
        width: 5.3vw;
        height: 3.0vw;
    }
    #izquierdacancha13 {
        position: absolute;
        top: 66.0vw;
        left: 6.0vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #izquierdacancha14 {
        position: absolute;
        top: 70.0vw;
        left: 22.2vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #izquierdacancha15 {
        position: absolute;
        top: 79.0vw;
        left: 17.2vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #izquierdacancha16 {
        position: absolute;
        top: 88.5vw;
        left: 9.0vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #izquierdacancha17 {
        position: absolute;
        top: 91.7vw;
        left: 22.2vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #izquierdacancha18 {
        position: absolute;
        top: 96.7vw;
        left: 16.2vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #izquierdacancha19 {
        position: absolute;
        top: 102.1vw;
        left: 9.2vw;
        width: 5.3vw;
        height: 3.0vw;
    }

     // ......................centro de la cancha.............................. 
    
     #centrocancha1 {
        position: absolute;
        top: 57.7vw;
        left: 91.7vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #centrocancha2 {
        position: absolute;
        top: 63.7vw;
        left: 77.7vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #centrocancha3 {
        position: absolute;
        top: 57.7vw;
        left: 63.2vw;
        width: 5.3vw;
        height: 3.0vw;
    }

     // ......................derecha de la cancha.............................. 

     #derechacancha1 {
    	position: absolute;
        top: 18.5vw;
        left: 138.2vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #derechacancha2 {
        position: absolute;
        top: 23.7vw;
        left: 132.5vw;
        width: 5.3vw;
        height: 3.0vw;
    }
    #derechacancha3 {
        position: absolute;
        top: 25.3vw;
        left: 145.7vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #derechacancha4 {
        position: absolute;
        top: 35.5vw;
        left: 137.4vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #derechacancha5 {
        position: absolute;
        top: 45.5vw;
        left: 132.9vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #derechacancha6 {
        position: absolute;
        top: 49.3vw;
        left: 148.7vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #derechacancha7 {
        position: absolute;
        top: 76.2vw;
        left: 125.5vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #derechacancha8 {
        position: absolute;
        top: 56.7vw;
        left: 119.2vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #derechacancha9 {
        position: absolute;
        top: 62.8vw;
        left: 129.4vw;
        width: 5.3vw;
        height: 3.0vw;
    }
    #derechacancha10 {
        position: absolute;
        top: 53.9vw;
        left: 132.9vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #derechacancha11 {
        position: absolute;
        top: 57.4vw;
        left: 144.3vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #derechacancha12 {
        position: absolute;
        top: 60.2vw;
        left: 153.3vw;
        width: 5.3vw;
        height: 3.0vw;
    }
    #derechacancha13 {
        position: absolute;
        top: 65.2vw;
        left: 148.7vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #derechacancha14 {
        position: absolute;
        top: 70.0vw;
        left: 132.9vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #derechacancha15 {
        position: absolute;
        top: 79.0vw;
        left: 137.4vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #derechacancha16 {
        position: absolute;
        top: 89.5vw;
        left: 145.7vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #derechacancha17 {
        position: absolute;
        top: 91.7vw;
        left: 132.5vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #derechacancha18 {
        position: absolute;
        top: 94.8vw;
        left: 138.8vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #derechatipoesquinaarriba20 {
        position: absolute;
        top: 13.0vw;
        left: 143.8vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    #derechatipoesquinaabajo20 {
        position: absolute;
        top: 102.1vw;
        left: 143.8vw;
        width: 5.3vw;
        height: 3.0vw;
    }

    // ......................bancos suplente.............................. 

    #bancosuplenteizquierda1 {
        position: absolute;
        top: 104.1vw;
        left: 38.5vw;
        width: 6.3vw;
        height: 3.0vw;
    }
    #bancosuplenteizquierda2 {
        position: absolute;
        top: 109.9vw;
        left: 72.7vw;
        width: 6.3vw;
        height: 3.0vw;
    }
    #bancosuplentederecha1 {
        position: absolute;
        top: 104.1vw;
        left: 114.9vw;
        width: 6.3vw;
        height: 3.0vw;
    }
    #bancosuplentederecha2 {
        position: absolute;
        top: 109.9vw;
        left: 81.1vw;
        width: 6.3vw;
        height: 3.0vw;
    }

    #bancosuplente105 {
        position: absolute;
        top: 116.5vw;
        left: 76.7vw;
        width: 6.3vw;
        height: 3.0vw;
    }
    #bancosuplente012 {
        position: absolute;
        top: 103.7vw;
        left: 76.7vw;
        width: 6.3vw;
        height: 3.0vw;
    }
   
    // ......................arcos afuera del campo..............................
    
    #arcoizquierda1 {
        position: absolute;
        top: 121.5vw;
        left: 45.0vw;
        width: 6.3vw;
        height: 3.0vw;
    }
    #arcoizquierda2 {
        position: absolute;
        top: 141.5vw;
        left: 10.0vw;
        width: 6.3vw;
        height: 3.0vw;
    }

    #arcoizquierda3 {
        position: absolute;
        top: 141.5vw;
        left: 34.5vw;
        width: 6.3vw;
        height: 3.0vw;
    }

    #arcoizquierda4 {
        position: absolute;
        top: 141.5vw;
        left: 55.9vw;
        width: 6.3vw;
        height: 3.0vw;
    }

    #arcoderecha1 {
        position: absolute;
        top: 121.5vw;
        left: 109.0vw;
        width: 6.3vw;
        height: 3.0vw;
    }
    #arcoderecha2 {
        position: absolute;
        top: 141.5vw;
        left: 145.0vw;
        width: 6.3vw;
        height: 3.0vw;
    }

    #arcoderecha3 {
        position: absolute;
        top: 141.5vw;
        left: 120.0vw;
        width: 6.3vw;
        height: 3.0vw;
    }

    #arcoderecha4 {
        position: absolute;
        top: 141.5vw;
        left: 99.5vw;
        width: 6.3vw;
        height: 3.0vw;
    }
}
