<ion-header>
    <ion-navbar color="primary">
            <ion-buttons end>
                <button ion-button icon-only (click)="guardarMedidasCampoJuego()">
                    <ion-icon  name="md-done-all"></ion-icon>
                    <ion-label>Guardar todo</ion-label>
                </button>
                <button hidden="hidden" ion-button icon-only (click)="capturarImagenCampoJuego()">
                        <ion-icon  name="md-done-all"></ion-icon>
                        <ion-label>Campo de juego prueba</ion-label>
                </button>
            </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-scroll  scrollX="true"  scrollY="true" style="width: 100%; height: 100%;">
    
        <div id="campojuego" class="campomedidas-content"> 
       
            <!-- ......................fuera de la cancha.............................. -->
            <ion-input id="fueracancha1" text-right  
                       pattern="[0-9]*" type="number"
                       [(ngModel)]="campoDeJuegoMedidas.fueracancha1">
            </ion-input>

            <ion-input id="fueracancha2" text-right  
                       pattern="[0-9]*" type="number"
                       [(ngModel)]="campoDeJuegoMedidas.fueracancha2">
            </ion-input>

            <ion-input id="fueracancha3" text-right  
                       pattern="[0-9]*" type="number"
                       [(ngModel)]="campoDeJuegoMedidas.fueracancha3">
            </ion-input>

            <ion-input id="fueracancha4" text-right  
                       pattern="[0-9]*" type="number"
                       [(ngModel)]="campoDeJuegoMedidas.fueracancha4">
            </ion-input>

            <ion-input id="fueracancha5" text-right  
                       pattern="[0-9]*" type="number"
                       [(ngModel)]="campoDeJuegoMedidas.fueracancha5">
            </ion-input>

            <ion-input id="fueracancha6" text-right  
                       pattern="[0-9]*" type="number"
                       [(ngModel)]="campoDeJuegoMedidas.fueracancha6">
           </ion-input>

           <ion-input id="fueracancha7" text-right  
                      pattern="[0-9]*" type="number"
                      [(ngModel)]="campoDeJuegoMedidas.fueracancha7">
           </ion-input>

           <ion-input id="fueracancha8" text-right  
                      pattern="[0-9]*" type="number"
                      [(ngModel)]="campoDeJuegoMedidas.fueracancha8">
           </ion-input>

           <ion-input id="fueracancha9" text-right  
                      pattern="[0-9]*" type="number"
                      [(ngModel)]="campoDeJuegoMedidas.fueracancha9">
           </ion-input>

           <ion-input id="fueracancha10" text-right  
                      pattern="[0-9]*" type="number"
                      [(ngModel)]="campoDeJuegoMedidas.fueracancha10">
           </ion-input>

           <ion-input id="fueracancha11" text-right  
                      pattern="[0-9]*" type="number"
                      [(ngModel)]="campoDeJuegoMedidas.fueracancha11">
           </ion-input>

           <ion-input id="fueracancha12" text-right  
                      pattern="[0-9]*" type="number"
                      [(ngModel)]="campoDeJuegoMedidas.fueracancha12">
           </ion-input>

           <ion-input id="fueracancha13" text-right  
                      pattern="[0-9]*" type="number"
                      [(ngModel)]="campoDeJuegoMedidas.fueracancha13">
           </ion-input>

           <ion-input id="fueracancha14" text-right  
                      pattern="[0-9]*" type="number"
                      [(ngModel)]="campoDeJuegoMedidas.fueracancha14">
           </ion-input>

           <ion-input id="fueracancha15" text-right  
                      pattern="[0-9]*" type="number"
                      [(ngModel)]="campoDeJuegoMedidas.fueracancha15">
           </ion-input>

           <ion-input id="fueracancha16" text-right  
                      pattern="[0-9]*" type="number"
                      [(ngModel)]="campoDeJuegoMedidas.fueracancha16">
           </ion-input>

           <ion-input id="fueracancha17" text-right  
                      pattern="[0-9]*" type="number"
                      [(ngModel)]="campoDeJuegoMedidas.fueracancha17">
           </ion-input>

           <ion-input id="fueracancha18" text-right  
                      pattern="[0-9]*" type="number"
                      [(ngModel)]="campoDeJuegoMedidas.fueracancha18">
           </ion-input>

           <ion-input id="fueracancha19" text-right  
                      pattern="[0-9]*" type="number"
                      [(ngModel)]="campoDeJuegoMedidas.fueracancha19">
           </ion-input>

           <ion-input id="fueracancha20" text-right  
                      pattern="[0-9]*" type="number"
                      [(ngModel)]="campoDeJuegoMedidas.fueracancha20">
           </ion-input>

           <ion-input id="fueracancha21" text-right  
                      pattern="[0-9]*" type="number" placeholder="105M"
                      [(ngModel)]="campoDeJuegoMedidas.fueracancha21">
           </ion-input>


           <!-- ......................izquierda de la cancha.............................. -->

           <ion-input id="izquierdacancha0" text-right  
                    pattern="[0-9]*" type="number" placeholder="1M"
                    [(ngModel)]="campoDeJuegoMedidas.izquierdacancha0">
           </ion-input>

           <ion-input id="izquierdacancha1" text-right  
                      pattern="[0-9]*" type="number" placeholder="9.15M"
                      [(ngModel)]="campoDeJuegoMedidas.izquierdacancha1">
           </ion-input>

           <ion-input id="izquierdacancha2" text-right  
                      pattern="[0-9]*" type="number" placeholder="16.50M"
                      [(ngModel)]="campoDeJuegoMedidas.izquierdacancha2">
           </ion-input>

           <ion-input id="izquierdacancha3" text-right  
                      pattern="[0-9]*" type="number" placeholder="24C"
                      [(ngModel)]="campoDeJuegoMedidas.izquierdacancha3">
           </ion-input>

           <ion-input id="izquierdacancha4" text-right  
                      pattern="[0-9]*" type="number" placeholder="16.50M"
                      [(ngModel)]="campoDeJuegoMedidas.izquierdacancha4">
           </ion-input>

           <ion-input id="izquierdacancha5" text-right  
                      pattern="[0-9]*" type="number" placeholder="5.50M"
                      [(ngModel)]="campoDeJuegoMedidas.izquierdacancha5">
           </ion-input>

           <ion-input id="izquierdacancha6" text-right  
                      pattern="[0-9]*" type="number" placeholder="5.50M"
                      [(ngModel)]="campoDeJuegoMedidas.izquierdacancha6">
           </ion-input>

           <ion-input id="izquierdacancha7" text-right  
                      pattern="[0-9]*" type="number" placeholder="40.32M"
                      [(ngModel)]="campoDeJuegoMedidas.izquierdacancha7">
           </ion-input>

           <ion-input id="izquierdacancha8" text-right  
                      pattern="[0-9]*" type="number" placeholder="9.15M"
                      [(ngModel)]="campoDeJuegoMedidas.izquierdacancha8">
           </ion-input>

           <ion-input id="izquierdacancha9" text-right  
                      pattern="[0-9]*" type="number" placeholder="0,20M"
                      [(ngModel)]="campoDeJuegoMedidas.izquierdacancha9">
           </ion-input>

           <ion-input id="izquierdacancha10" text-right  
                      pattern="[0-9]*" type="number" placeholder="11M"
                      [(ngModel)]="campoDeJuegoMedidas.izquierdacancha10">
           </ion-input>

           <ion-input id="izquierdacancha11" text-right  
                      pattern="[0-9]*" type="number" placeholder="7.32M"
                      [(ngModel)]="campoDeJuegoMedidas.izquierdacancha11">
           </ion-input>

           <ion-input id="izquierdacancha12" text-right  
                      pattern="[0-9]*" type="number" placeholder="68M"
                      [(ngModel)]="campoDeJuegoMedidas.izquierdacancha12">
           </ion-input>

           <ion-input id="izquierdacancha13" text-right  
                      pattern="[0-9]*" type="number" placeholder="5.50M"
                      [(ngModel)]="campoDeJuegoMedidas.izquierdacancha13">
           </ion-input>

           <ion-input id="izquierdacancha14" text-right  
                      pattern="[0-9]*" type="number" placeholder="5.50M"
                      [(ngModel)]="campoDeJuegoMedidas.izquierdacancha14">
           </ion-input>

           <ion-input id="izquierdacancha15" text-right  
                      pattern="[0-9]*" type="number" placeholder="16.50M"
                      [(ngModel)]="campoDeJuegoMedidas.izquierdacancha15">
           </ion-input>

           <ion-input id="izquierdacancha16" text-right  
                      pattern="[0-9]*" type="number" placeholder="24C"
                      [(ngModel)]="campoDeJuegoMedidas.izquierdacancha16">
           </ion-input>

           <ion-input id="izquierdacancha17" text-right  
                      pattern="[0-9]*" type="number" placeholder="16.50M"
                      [(ngModel)]="campoDeJuegoMedidas.izquierdacancha17">
           </ion-input>

           <ion-input id="izquierdacancha18" text-right  
                      pattern="[0-9]*" type="number" placeholder="9.15M"
                      [(ngModel)]="campoDeJuegoMedidas.izquierdacancha18">
           </ion-input>

           <ion-input id="izquierdacancha19" text-right  
                    pattern="[0-9]*" type="number" placeholder="1M"
                    [(ngModel)]="campoDeJuegoMedidas.izquierdacancha19">
           </ion-input>


          <!-- ......................centro de la cancha.............................. -->
          <ion-input id="centrocancha1" text-right  
                     pattern="[0-9]*" type="number" placeholder="9.15M"
                     [(ngModel)]="campoDeJuegoMedidas.centrocancha1">
          </ion-input>   
          <ion-input id="centrocancha2" text-right  
                     pattern="[0-9]*" type="number" placeholder="0.24M"
                     [(ngModel)]="campoDeJuegoMedidas.centrocancha2">
          </ion-input>  
          
          <ion-input id="centrocancha3" text-right  
                     pattern="[0-9]*" type="number" placeholder="9.15M"
                     [(ngModel)]="campoDeJuegoMedidas.centrocancha3">
          </ion-input>


           <!-- ......................derecha de la cancha.............................. -->
           <ion-input id="derechacancha1" text-right  
                      pattern="[0-9]*" type="number" placeholder="9.15M"
                      [(ngModel)]="campoDeJuegoMedidas.derechacancha1">
           </ion-input>

           <ion-input id="derechacancha2" text-right  
                      pattern="[0-9]*" type="number" placeholder="16.50M"
                      [(ngModel)]="campoDeJuegoMedidas.derechacancha2">
           </ion-input>

           <ion-input id="derechacancha3" text-right  
                      pattern="[0-9]*" type="number" placeholder="24C"
                      [(ngModel)]="campoDeJuegoMedidas.derechacancha3">
           </ion-input>

           <ion-input id="derechacancha4" text-right  
                      pattern="[0-9]*" type="number" placeholder="16.50M"
                      [(ngModel)]="campoDeJuegoMedidas.derechacancha4">
           </ion-input>

           <ion-input id="derechacancha5" text-right  
                      pattern="[0-9]*" type="number" placeholder="5.50M"
                      [(ngModel)]="campoDeJuegoMedidas.derechacancha5">
           </ion-input>

           <ion-input id="derechacancha6" text-right  
                      pattern="[0-9]*" type="number" placeholder="5.50M"
                      [(ngModel)]="campoDeJuegoMedidas.derechacancha6">
           </ion-input>

           <ion-input id="derechacancha7" text-right  
                      pattern="[0-9]*" type="number" placeholder="40.32M"
                      [(ngModel)]="campoDeJuegoMedidas.derechacancha7">
           </ion-input>

           <ion-input id="derechacancha8" text-right  
                      pattern="[0-9]*" type="number" placeholder="9.15M"
                      [(ngModel)]="campoDeJuegoMedidas.derechacancha8">
           </ion-input>

           <ion-input id="derechacancha9" text-right  
                      pattern="[0-9]*" type="number" placeholder="0,20M"
                      [(ngModel)]="campoDeJuegoMedidas.derechacancha9">
           </ion-input>

           <ion-input id="derechacancha10" text-right  
                      pattern="[0-9]*" type="number" placeholder="11M"
                      [(ngModel)]="campoDeJuegoMedidas.derechacancha10">
           </ion-input>

           <ion-input id="derechacancha11" text-right  
                      pattern="[0-9]*" type="number" placeholder="7.32M"
                      [(ngModel)]="campoDeJuegoMedidas.derechacancha11">
           </ion-input>

           <ion-input id="derechacancha12" text-right  
                      pattern="[0-9]*" type="number" placeholder="68M"
                      [(ngModel)]="campoDeJuegoMedidas.derechacancha12">
           </ion-input>

           <ion-input id="derechacancha13" text-right  
                      pattern="[0-9]*" type="number" placeholder="5.50M"
                      [(ngModel)]="campoDeJuegoMedidas.derechacancha13">
           </ion-input>

           <ion-input id="derechacancha14" text-right  
                      pattern="[0-9]*" type="number" placeholder="5.50M"
                      [(ngModel)]="campoDeJuegoMedidas.derechacancha14">
           </ion-input>

           <ion-input id="derechacancha15" text-right  
                      pattern="[0-9]*" type="number" placeholder="16.50M"
                      [(ngModel)]="campoDeJuegoMedidas.derechacancha15">
           </ion-input>

           <ion-input id="derechacancha16" text-right  
                      pattern="[0-9]*" type="number" placeholder="24C"
                      [(ngModel)]="campoDeJuegoMedidas.derechacancha16">
           </ion-input>

           <ion-input id="derechacancha17" text-right  
                      pattern="[0-9]*" type="number" placeholder="16.50M"
                      [(ngModel)]="campoDeJuegoMedidas.derechacancha17">
           </ion-input>

           <ion-input id="derechacancha18" text-right  
                      pattern="[0-9]*" type="number" placeholder="9.15M"
                      [(ngModel)]="campoDeJuegoMedidas.derechacancha18">
           </ion-input>

           <ion-input id="derechatipoesquinaarriba20" text-right  
                      pattern="[0-9]*" type="number" placeholder="1M"
                      [(ngModel)]="campoDeJuegoMedidas.derechatipoesquinaarriba20">
           </ion-input>
           <ion-input id="derechatipoesquinaabajo20" text-right  
                      pattern="[0-9]*" type="number" placeholder="1M"
                      [(ngModel)]="campoDeJuegoMedidas.derechatipoesquinaabajo20">
           </ion-input>

           <!-- ......................bancos suplente..............................-->
           <ion-input id="bancosuplenteizquierda1" text-right  
                      pattern="[0-9]*" type="number" placeholder="5 y 8 M"
                      [(ngModel)]="campoDeJuegoMedidas.bancosuplenteizquierda1">
           </ion-input>

           <ion-input id="bancosuplenteizquierda2" text-right  
                      pattern="[0-9]*" type="number" placeholder="6 y 8 M"
                      [(ngModel)]="campoDeJuegoMedidas.bancosuplenteizquierda2">
           </ion-input>

           <ion-input id="bancosuplentederecha1" text-right  
                      pattern="[0-9]*" type="number" placeholder="5 y 8 M"
                      [(ngModel)]="campoDeJuegoMedidas.bancosuplentederecha1">
           </ion-input>

           <ion-input id="bancosuplentederecha2" text-right  
                      pattern="[0-9]*" type="number" placeholder="6 y 8 M"
                      [(ngModel)]="campoDeJuegoMedidas.bancosuplentederecha2">
           </ion-input>

           <ion-input id="bancosuplente105" text-right  
                      pattern="[0-9]*" type="number" placeholder="105M"
                      [(ngModel)]="campoDeJuegoMedidas.bancosuplente105">
           </ion-input>

           <ion-input id="bancosuplente012" text-right  
                      pattern="[0-9]*" type="number" placeholder="0.12M"
                      [(ngModel)]="campoDeJuegoMedidas.bancosuplente012">
           </ion-input>

           <!-- ......................arcos afuera del campo..............................-->

           <ion-input id="arcoizquierda1" text-right style="background-color:#d4d3d3;"  
                      pattern="[0-9]*" type="number" placeholder="7.32M"
                      [(ngModel)]="campoDeJuegoMedidas.arcoizquierda1">
           </ion-input>

           <ion-input id="arcoizquierda2" text-right style="background-color:#d4d3d3;"   
                      pattern="[0-9]*" type="number" placeholder="2.44M"
                      [(ngModel)]="campoDeJuegoMedidas.arcoizquierda2">
           </ion-input>

           <ion-input id="arcoizquierda3" text-right style="background-color:#d4d3d3;"   
                      pattern="[0-9]*" type="number" placeholder="2.44M"
                      [(ngModel)]="campoDeJuegoMedidas.arcoizquierda3">
           </ion-input>

           <ion-input id="arcoizquierda4" text-right style="background-color:#d4d3d3;"   
                      pattern="[0-9]*" type="number" placeholder="2.44M"
                      [(ngModel)]="campoDeJuegoMedidas.arcoizquierda4">
           </ion-input>

           <ion-input id="arcoderecha1" text-right style="background-color:#d4d3d3;"  
                      pattern="[0-9]*" type="number" placeholder="7.32M"
                      [(ngModel)]="campoDeJuegoMedidas.arcoderecha1">
           </ion-input>

           <ion-input id="arcoderecha2" text-right style="background-color:#d4d3d3;"  
                      pattern="[0-9]*" type="number" placeholder="2,44M"
                      [(ngModel)]="campoDeJuegoMedidas.arcoderecha2">
           </ion-input>

           <ion-input id="arcoderecha3" text-right style="background-color:#d4d3d3;"  
                      pattern="[0-9]*" type="number" placeholder="2,44M"
                      [(ngModel)]="campoDeJuegoMedidas.arcoderecha3">
           </ion-input>

           <ion-input id="arcoderecha4" text-right style="background-color:#d4d3d3;"  
                      pattern="[0-9]*" type="number" placeholder="2,44M"
                      [(ngModel)]="campoDeJuegoMedidas.arcoderecha4">
           </ion-input>

          
        </div>
    </ion-scroll>
   

</ion-content>
