page-menucriterioagrupado {
    h1 {
        color: black;
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    
    h4 {
        color: black;
    }

    .button{
        font-weight: 500;
        font-size: 0.8em;
        line-height: 1.3;
        width: 120px;
        height: 120px;
        margin: 1 auto;
        padding: 0;
        display: table-cell;
        vertical-align: middle;
    }
}
