<ion-header>

  <ion-navbar color="primary">
    <ion-title hidden>{{formulario?.nombreFormulario}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <div align="center">
    <h1>{{formulario?.nombreFormulario.toUpperCase()}}</h1>
  </div>
  <div>
    <ion-grid>
      <ion-row>
          <ion-col *ngFor="let item of listaFormulariosMostrar" 
                    col-6 col-sm-4 col-md-3 col-lg-3>
            <button ion-button text-wrap  
                    color="primary"
                    (tap)="openFormDynamic(item)">
                {{item?.nombreFormulario}}
            </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>