<ion-header>
    <ion-navbar color="primary">
      <ion-title>Listado de formularios</ion-title>
      <ion-buttons end>
        <button ion-button (click)="cerralModal()" style="font-size: 2.0rem">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding no-bounce>
      <ion-list>
          <ion-item text-wrap *ngFor="let formulario of listFormulariosAgrupacion">
              <ion-label>
                  {{ formulario.nombreFormulario }}
                  <button class="item-cover disable-hover" ion-button="item-cover" type="button">
                      <span class="button-inner"></span>
                      <div class="button-effect"></div>
                  </button>
              </ion-label>
              <ion-checkbox (ionChange)="checkFormulario($event,formulario)" color="royal" checked="false"></ion-checkbox>
          </ion-item>
      </ion-list>
  </ion-content>
  
  <ion-footer no-border>
      <ion-toolbar>
          <button ion-button full color="primary" (tap)="agregarFormulariosAgrupacion()">
            Aceptar
          </button>
      </ion-toolbar>
  </ion-footer>
  